<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>voxel-cone-tracing-mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B98CE58C2027A19300B45558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B98CE59F2027A19300B45558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B98CE5AA2027A19300B45558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
